@import "tailwindcss";

@theme {
  --color-brand-primary: #A15942;
  --color-brand-secondary: #AD6A4D;
  --color-brand-accent: #FF9918;
  --color-brand-cream: #FFF1D0;
  --color-brand-dark: #0F0F0F;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Keeping light theme as default for brand consistency for now */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
